<nav class="fixed top-0 w-full bg-white shadow dark:bg-gray-800">
 
  <div class="container flex items-center justify-start p-6 mx-auto text-gray-600 capitalize dark:text-gray-300">
    <!-- Your content here -->
  
  

      
      <a class="navbar-brand" 
      href="https://www.geeksforgeeks.org/">
       <img src=
"https://media.geeksforgeeks.org/gfg-gg-logo.svg" 
            class="rounded float-start">
   </a>
     
      
      <a href="#" class="border-b-2 border-transparent hover:text-gray-800 dark:hover:text-gray-200 hover:border-blue-500 mx-1.5 sm:mx-6">Home</a>
      <a href="#" class="border-b-2 border-transparent hover:text-gray-800 dark:hover:text-gray-200 hover:border-blue-500 mx-1.5 sm:mx-6">features</a>
      <a href="#" class="border-b-2 border-transparent hover:text-gray-800 dark:hover:text-gray-200 hover:border-blue-500 mx-1.5 sm:mx-6">tools</a>
      <a href="#" class="border-b-2 border-transparent hover:text-gray-800 dark:hover:text-gray-200 hover:border-blue-500 mx-1.5 sm:mx-6">contact</a>
      <a href="#" class="border-b-2 border-transparent hover:text-gray-800 dark:hover:text-gray-200 hover:border-blue-500 mx-1.5 sm:mx-6">
        <svg class="w-4 h-4 fill-current" viewBox="0 0 24 24">
          <!-- SVG icon code -->
        </svg>
      </a>
      <a href="#" class="border-b-2 border-transparent hover:text-gray-800 dark:hover:text-gray-200 hover:border-blue-500 mx-1.5 sm:mx-6">
        <svg class="w-5 h-5 fill-current" viewBox="0 0 24 24">
          <!-- SVG icon code -->
        </svg>
      </a>
    </div>
  </nav>